
<div>
    <h3>
     {{selectedVenue?.name}}
    </h3>
  
    <div>
        <div>
            <img [src]="selectedVenue?.url" width="300" class="meeting-img">
        </div>
      <div class="info-row">
          <label class="lable-text">Max Participants</label> {{selectedVenue?.maxParticipants}}
       </div>
       <div class="info-row">
        <label class="lable-text">City</label> {{selectedVenue?.city}}
       </div>
       <div class="info-row">
            <label class="lable-text">Country</label>{{selectedVenue?.countryFullName}}
        </div>
    </div>
    
     
  </div>