

.venue-text{
    margin: 10px 0px;
    cursor: pointer;
    color: #645c6a;
    font-weight: bold;
    
}

.highlight{ 
    color: #811fca;
    font-size: 18px;
    
}

.searchBox{
    border-radius: 5px;
    line-height: 20px;
    width: 100%;
}